//- footer
footer.bgc--gains.pd_box--3em
    .container
        .col-xs-12.text-center.mg_bottom--x20.hidden-xs.hidden-sm
            .title.mg_bottom--x20.cl--blue
                h4.txt_upper Solo nos falta recordarte.
            span.inblock.mg_left--x10.mg_right--x10
                span.cube.circle.bgc--blue.pd_box_cube--06em
                    i.icon-garp.cl--white.txt_size--x35
                p Traje Formal
            span.inblock.mg_left--x10.mg_right--x10
                span.cube.circle.bgc--blue.pd_box_cube--06em
                    i.icon-mail.cl--white.txt_size--x35
                p Lluvia de sobres
        .col-xs-12.text-center.mg_bottom--x10.hidden-xs.hidden-sm
            h4 320 3751995 <b>Sara</b> <i class="icon-arrow--ss cl--gold mg_left--x10 mg_right--x10"></i> <b>Sergio</b> 321 2679283
        .col-xs-12.text-center.mg_bottom--x10.hidden-md.hidden-lg
            h4
                b 320 3751995 Sara
            i.icon-arrow--ss.cl--gold
            h4
                b Sergio 321 2679283
        .col-xs-12.text-center.cl--gray.mg_bottom--x10
            small copyright © 2016 /
            small  dialstudios@gmail.com

