//- header
.container
    .col-xs-12.text-center.pd_box--6em
        .icon-saraysergio.logo--ss
    .col-xs-12.text-center
        .title.txt_arvo.cl--blue.txt_upper.txt_spacing.mg_bottom--x10
            h2 Sara & Sergio
        .subtitle.txt_arvo.cl--gold.txt_spacing.mg_bottom--x10
            h3 17.12.2016
    .col-xs-12.text-center.cl--gold.mg_bottom--x50
        p TENEMOS EL PLACER DE INVITARLOS A NUESTRA BODA ;
        p
            b VAMOS A CELEBRARLO POR TODO LO ALTO CON UNA GRAN FIESTA.
